/* Add custom styling here */
#main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
}

#colorTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#colorTable th:nth-child(1), td:nth-child(1) {
    width: 8%;
    text-align: left;
}

#colorTable th:nth-child(2), td:nth-child(2) {
    width: 16%;
    text-align: left;
}

#colorTable th:nth-child(3), td:nth-child(3) {
    width: 16%;
    text-align: left;
}

#colorTable th:nth-child(4), td:nth-child(4) {
    width: 20%;
    text-align: left;
}

#colorTable td, #colorTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#colorTable tr:nth-child(even)
{
    background-color: #f2f2f2;
}

#colorTable tr:hover {
    background-color: #ddd;
}

#colorTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}